* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 20px;
}


body {
  background-color: #0f0f0f;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  height: 100vh;
  background-color: #111111;
  border-right: 1px solid #252525;
  padding: 40px 25px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  color: #ff3c00;
  font-size: 24px;
  margin-bottom: 50px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.sidebar-nav a {
  color: #b5b5b5;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar-nav a:hover {
  color: #ff3c00;
  transform: translateX(6px);
}

.main-content {
  margin-left: 260px;
  width: calc(100% - 260px);
}

.hero-section {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px;
  background-size: 72%;
  background-repeat: no-repeat;
  background-position: 150% top;
  background-color: #000;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background:
    linear-gradient(
      to right,
      #000 0%,
      rgba(0, 0, 0, 0.98) 30%,
      rgba(0, 0, 0, 0.82) 50%,
      rgba(0, 0, 0, 0.45) 70%,
      rgba(0, 0, 0, 0.10) 100%
    );
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 720px;
}

.hero-content h1 span {
  color: #ff3c00;
}

.hero-tagline {
  color: #ff3c00;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.hero-content h1 {
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 25px;
}

.hero-description {
  max-width: 520px;
  color: #d0d0d0;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  gap: 18px;
}

.primary-btn,
.secondary-btn {
  padding: 14px 28px;
  border-radius: 30px;
  font-weight: bold;
}

.primary-btn {
  background-color: #ff3c00;
  color: #ffffff;
}

.secondary-btn {
  border: 1px solid #ff3c00;
  color: #ff3c00;
}

.hero-section {
  justify-content: space-between;
  gap: 50px;
}

.hero-image-box {
  width: 420px;
  height: 640px;
  overflow: hidden;
  border-radius: 30px;
  border: 1px solid #2a2a2a;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.hero-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 60px;
}

.brand img {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.brand-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  color: #ff3c00;
  font-size: 26px;
  font-weight: 800;
  line-height: 1;
  margin: 0;
}

.tagline {
  font-size: 11px;
  color: #b5b5b5;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.sidebar-join-btn {
  display: inline-block;
  margin-top: 45px;
  padding: 13px 24px;
  background-color: #ff3c00;
  color: #ffffff;
  border-radius: 30px;
  font-weight: bold;
}

.hero-stats {
  display: flex;
  gap: 50px;
  margin-top: 55px;
  padding: 25px 35px;
  max-width: 420px;

  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 22px;
  backdrop-filter: blur(8px);
}

.stat-box {
  min-width: 140px;
}

.stat-box h3 {
  color: #ff3c00;
  font-size: 32px;
  margin-bottom: 6px;
}

.stat-box p {
  color: #b5b5b5;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.about-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  padding: 100px 80px;
  background:#0b0b0b;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;

  border-radius: 30px;

  border: 1px solid #2a2a2a;

  transition: all 0.4s ease;
}

.about-image img:hover {
  transform: scale(1.02);

  box-shadow:
    0 20px 50px rgba(255, 77, 0, 0.15);
}


.about-content {
  flex: 1;
}

.section-tag {
  color: #ff4d00;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 15px;

  transition: all 0.3s ease;
  cursor: default;
}

.section-tag:hover {
  color: #ff6a33;

  text-shadow:
    0 0 10px rgba(255,255,255,0.5),
    0 0 20px rgba(255,255,255,0.25);

  letter-spacing: 4px;

  transform: translateY(-2px);
}

.about-content h2 {
  font-size: 52px;
  color: #ffffff;
  margin-bottom: 25px;
  line-height: 1.1;
}

.about-content h2 span {
  color: #ff4d00;
}

.about-content p span {
  color: #ff4d00;
}

.about-content p {
  color: #c8c8c8;
  font-size: 18px;
  line-height: 1.9;
  margin-bottom: 35px;
  max-width: 470px;
}

.about-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.about-features div {
  color: white;
  font-size: 18px;

  transition: all 0.3s ease;

  cursor: default;
}

.about-features div:hover {
  color: #ff4d00;

  transform: translateX(8px);
}

                   /* TRANSITION STATS CARD AND BUTTONS */

.primary-btn,
.secondary-btn {
  transition: all 0.3s ease;
}

.primary-btn:hover:hover {
  background-color: #ffffff;
  color: #ff3c00;
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(255, 60, 0, 0.35);
}

.secondary-btn:hover {
  background-color: #ff3c00;
  color: #ffffff;
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(255, 60, 0, 0.25);
}

.stat-box {
  min-width: 140px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.stat-box:hover {
  transform: translateY(-8px);
}

.stat-box:hover h3 {
  color: #ffffff;
}

.hero-stats {
  transition: all 0.3s ease;
}

.hero-stats:hover {
  border-color: rgba(255, 60, 0, 0.4);
  box-shadow: 0 20px 45px rgba(255, 60, 0, 0.12);
}

             /*END OF TRANSITION STATS CARD AND BUTTONS */

                        /* PLAN SECTION */

.plans-section {
  min-height: 100vh;
  padding: 100px 80px;
  background: #0b0b0b;
}

.plans-heading {
  font-size: 52px;
  text-align: center;
  margin-bottom: 70px;
}

.plans-heading span {
  color: #ff4d00;
}

/* .plans-container {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
} */

.plans-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.plan-card {
  width: 320px;
  padding: 40px 30px;

  background: #181818;
  border: 1px solid #2a2a2a;
  border-radius: 25px;

  transition: all 0.35s ease;

  position: relative;
}

.plan-card:hover {
  transform: translateY(-12px);

  border-color: #ff4d00;

  box-shadow:
    0 20px 50px rgba(255, 77, 0, 0.15);
}

.plan-card h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.plan-card h1 {
  font-size: 56px;
  color: #ff4d00;
}

.plan-duration {
  color: #aaa;
  margin-bottom: 25px;
}

.plan-card ul {
  list-style: none;
  margin-bottom: 30px;
}

.plan-card ul li {
  margin-bottom: 15px;
  color: #d0d0d0;
}

.plan-card button {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 30px;

  background: #ff4d00;
  color: white;

  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s ease;
}

.plan-card button:hover {
  background: white;
  color: #ff4d00;
}


.plans-subtitle {
  text-align: center;

  color: #b5b5b5;

  max-width: 600px;

  margin: -40px auto 60px;

  line-height: 1.8;
}

.popular-badge {
  display: inline-block;
  background: linear-gradient(90deg, #ff6a00, #ff8c00);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 6px 14px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
  box-shadow: 0 4px 12px rgba(255, 102, 0, 0.35);
}

.membership-info {
  max-width: 900px;
  margin: 70px auto 0;
  padding: 35px;
  background: #171717;
  border: 1px solid rgba(255, 102, 0, 0.2);
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);

  transition: all 0.35s ease;
  cursor: default;
}

.membership-info:hover {
  transform: translateY(-8px);
  border-color: #ff5c00;
  box-shadow: 0 15px 35px rgba(255, 92, 0, 0.25);
}
                            /* PLAN INFO SECTION */

.membership-info {
  max-width: 900px;
  margin: 70px auto 0;
  padding: 35px;
  background: #171717;
  border: 1px solid rgba(255, 102, 0, 0.2);
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.membership-info h3 {
  color: #ff5c00;
  font-size: 2rem;
  margin-bottom: 25px;
  text-align: center;
}

.info-item {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  margin-bottom: 22px;
  transition: all 0.3s ease;
}

.info-line {
  width: 4px;
  min-width: 4px;
  height: 45px;
  border-radius: 10px;
  background: #ff5c00;
  transition: all 0.3s ease;
}

.info-item:hover {
  transform: translateX(8px);
}

.info-item:hover .info-line {
  height: 55px;
  background: #ff7a1a;
}

.info-item p {
  color: #d8d8d8;
  line-height: 1.8;
  font-size: 1rem;
}

.info-item strong {
  color: #ffffff;
}

.info-item span {
  font-size: 1.4rem;
}

.info-item p {
  color: #d8d8d8;
  line-height: 1.7;
  font-size: 1rem;
}

.info-item strong {
  color: #ffffff;
}



                                 /* MOBILE */

@media (max-width: 768px) {

  .membership-info {
    margin-top: 50px;
    padding: 22px;
  }

  .membership-info h3 {
    font-size: 1.5rem;
  }

  .info-item {
    gap: 10px;
  }

  .info-item span {
    font-size: 1.2rem;
  }

  .info-item p {
    font-size: 0.95rem;
  }

}

                          /* END OF PLAN INFO SECTION */

                            /* END OF PLAN SECTION */

                            /* TRAINERS SECTION */

.trainers-section {
  min-height: 100vh;
  padding: 100px 80px;
  background: #0b0b0b;
}

.trainers-heading {
  font-size: 52px;
  text-align: center;
  margin-bottom: 20px;
}

.trainers-heading span {
  color: #ff4d00;
}

.trainers-subtitle {
  text-align: center;
  color: #b5b5b5;
  max-width: 650px;
  margin: 0 auto 70px;
  line-height: 1.8;
}

.trainers-container {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.trainer-card {
  width: 330px;
  height: 450px;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  background: #181818;
  border: 1px solid #2a2a2a;
  transition: all 0.35s ease;
}

.trainer-card:hover {
  transform: translateY(-12px);
  border-color: #ff4d00;
  box-shadow: 0 25px 60px rgba(255, 77, 0, 0.18);
}

.trainer-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.trainer-card:hover img {
  transform: scale(1.08);
}

.trainer-info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.95),
    rgba(0,0,0,0.65),
    transparent
  );
}

.trainer-info {
  text-align: center;
}

.trainer-info h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.trainer-info p {
  color: #ff4d00;
  margin-bottom: 6px;
}

.trainer-info span {
  color: #b5b5b5;
  font-size: 14px;
}

                     /* END OF TRAINERS SECTION */

.gallery-section {
  min-height: 100vh;
  padding: 100px 80px;
  background: #0b0b0b;
}

.gallery-heading {
  font-size: 52px;
  text-align: center;
  margin-bottom: 20px;
}

.gallery-heading span {
  color: #ff4d00;
}

.gallery-subtitle {
  text-align: center;
  color: #b5b5b5;
  max-width: 650px;
  margin: 0 auto 70px;
  line-height: 1.8;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 260px;
  gap: 24px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 24px;
  border: 1px solid #2a2a2a;
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.45s ease;
}

.gallery-item:hover img {
  transform: scale(1.12);
  filter: brightness(1.15);
}

.gallery-item:hover {
  border-color: #ff4d00;
  box-shadow: 0 20px 50px rgba(255, 77, 0, 0.18);
}

                            /* CONTACT SECTION */
                      
.contact-section {
  min-height: 100vh;
  padding: 100px 80px;
  background: #0b0b0b;
}

.contact-heading {
  font-size: 52px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-heading span {
  color: #ff4d00;
}

.contact-subtitle {
  text-align: center;
  color: #b5b5b5;
  max-width: 650px;
  margin: 0 auto 70px;
  line-height: 1.8;
}

.contact-container {
  display: flex;
  gap: 50px;
  align-items: stretch;
}

.contact-info {
  flex: 1;
}

.contact-card {
  background: #181818;
  border: 1px solid #2a2a2a;
  border-radius: 22px;
  padding: 25px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.contact-card:hover {
  transform: translateX(8px);
  border-color: #ff4d00;
  box-shadow: 0 15px 35px rgba(255, 77, 0, 0.12);
}

.contact-card h3 {
  color: #ff4d00;
  margin-bottom: 10px;
}

.contact-card p {
  color: #d0d0d0;
}

/* .social-buttons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.whatsapp-btn,
.instagram-btn {
  display: inline-block;
  padding: 15px 28px;
  border-radius: 30px;
  font-weight: 600;

  transition: all 0.3s ease;
}

.whatsapp-btn {
  background: #25d366;
  color: white;
}

.instagram-btn {
  background: linear-gradient(
    45deg,
    #833ab4,
    #fd1d1d,
    #fcb045
  );

  color: white;
}

.whatsapp-btn:hover,
.instagram-btn:hover {
  transform: translateY(-4px);

  box-shadow: 0 15px 35px rgba(255,255,255,0.1);
} */

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
  margin-top: 20px;
}

.whatsapp-btn,
.instagram-btn {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  text-decoration: none;

  font-size: 30px;
  color: white;

  transition: all 0.3s ease;
}

.whatsapp-btn {
  background: #25d366;
}

.instagram-btn {
  background: linear-gradient(
    45deg,
    #833ab4,
    #fd1d1d,
    #fcb045
  );
}

.whatsapp-btn:hover,
.instagram-btn:hover {
  transform: translateY(-5px) scale(1.08);
}



.contact-form {
  flex: 1.2;
  background: #181818;
  border: 1px solid #2a2a2a;
  border-radius: 25px;
  padding: 35px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 15px 18px;
  margin-bottom: 18px;
  background: #0f0f0f;
  border: 1px solid #333;
  border-radius: 14px;
  color: white;
  outline: none;
}

.contact-form textarea {
  height: 140px;
  resize: none;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  border-color: #ff4d00;
}

.contact-form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #ff4d00;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-form button:hover {
  background: white;
  color: #ff4d00;
  transform: translateY(-3px);
}

                    /* END OF CONTACT SECTION */

                        /* FOOTER SECTION */

.footer {
  background: #080808;
  padding: 60px 80px 30px;
  text-align: center;
  border-top: 1px solid #222;
}

.footer-brand h2 {
  color: #ff4d00;
  font-size: 32px;
  margin-bottom: 8px;
}

.footer-brand p {
  color: #b5b5b5;
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 30px;
}

.footer-links,
.footer-social {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.footer-links a,
.footer-social a {
  color: #b5b5b5;
  transition: all 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
  color: #ff4d00;
  transform: translateY(-3px);
}

.footer-copy {
  color: #777;
  font-size: 14px;
  margin-top: 30px;
}

                        /* END OF FOOTER SECTION */

                            /* SIDE BAR SECTION */

.sidebar-nav a.active-link {
  color: #ff4d00;
  transform: translateX(8px);
  text-shadow: 0 0 12px rgba(255, 77, 0, 0.4);
}

.sidebar-nav a.active-link::before {
  content: "▸ ";
}

                         /* END OF SIDE BAR SECTION */

                          /* CONTACT FORM POP-UP */

.success-popup {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 999999;

  background: #181818;
  color: white;
  border: 1px solid #ff4d00;
  border-left: 5px solid #ff4d00;

  padding: 16px 22px;
  border-radius: 14px;

  box-shadow: 0 15px 40px rgba(255, 77, 0, 0.3);

  animation: popupToast 0.4s ease;
}

@keyframes popupToast {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

                    /* PLANS/JION NOW RESPONSIVE(GLOW AND MSG) SECTION */

.selected-plan-message {
  margin-bottom: 22px;
  padding: 16px 20px;

  background: rgba(255, 77, 0, 0.08);
  border: 1px solid rgba(255, 77, 0, 0.35);
  border-radius: 16px;

  color: #ffffff;
  text-align: center;
  line-height: 1.6;

  box-shadow: 0 12px 30px rgba(255, 77, 0, 0.08);
}

.selected-plan-message span {
  color: #ff4d00;
  font-weight: 700;
}

.plan-selected-glow {
  border-color: #ff4d00 !important;
  box-shadow: 0 0 20px rgba(255, 77, 0, 0.25);
}

@media (max-width: 768px) {
  .selected-plan-message {
    font-size: 14px;
    padding: 14px 16px;
  }
}

                             /* END OF PLANS/JION NOW */

                             /* ADMIN LOGIN_PAGE */

.admin-login-section {
  min-height: 100vh;
  background: #050505;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.admin-login-card {
  width: 100%;
  max-width: 430px;
  background: #181818;
  border: 1px solid #2a2a2a;
  border-radius: 28px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(255, 77, 0, 0.08);
}

.admin-login-card h1 {
  color: #ff4d00;
  font-size: 42px;
  margin-bottom: 8px;
}

.admin-login-card p {
  color: #b5b5b5;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.admin-login-card input {
  width: 100%;
  padding: 15px 18px;
  margin-bottom: 18px;
  background: #0f0f0f;
  border: 1px solid #333;
  border-radius: 14px;
  color: white;
  outline: none;
}

.admin-login-card input:focus {
  border-color: #ff4d00;
}

.password-box {
  position: relative;
}

.password-box input {
  padding-right: 75px;
}

.password-box button {
  position: absolute;
  right: 10px;
  top: 9px;
  background: transparent;
  color: #ff4d00;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.admin-login-btn {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 30px;
  background: #ff4d00;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.admin-login-btn:hover {
  background: white;
  color: #ff4d00;
  transform: translateY(-3px);
}

.admin-error {
  background: rgba(255, 0, 0, 0.12);
  border: 1px solid rgba(255, 0, 0, 0.35);
  color: #ffb3b3;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .admin-login-card {
    padding: 30px 22px;
  }

  .admin-login-card h1 {
    font-size: 34px;
  }
}

                             /* END OF ADMIN LOGIN PAGE */

                               /* ADMIN DASHBOARD  */

.admin-dashboard {
  min-height: 100vh;
  background: #050505;
  color: white;
  padding: 40px;
}

.admin-dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}

.admin-dashboard-header h1 {
  color: #ff4d00;
  font-size: 38px;
}

.admin-dashboard-header p {
  color: #b5b5b5;
  margin-top: 6px;
}

.admin-dashboard-header button {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  background: #ff4d00;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.admin-table-wrapper {
  overflow-x: auto;
  background: #181818;
  border: 1px solid #2a2a2a;
  border-radius: 24px;
  padding: 20px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

.admin-table th,
.admin-table td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #2a2a2a;
}

.admin-table th {
  color: #ff4d00;
  font-size: 15px;
}

.admin-table td {
  color: #d8d8d8;
}

.admin-loading {
  color: #b5b5b5;
}

@media (max-width: 768px) {
  .admin-dashboard {
    padding: 25px 18px;
  }

  .admin-dashboard-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .admin-dashboard-header h1 {
    font-size: 30px;
  }
}

                               /* END OF DASHBOARD */



                      /* MOBILE RESPONSE SECTION */

@media (max-width: 768px) {
  .success-popup {
    top: 80px;
    left: 20px;
    right: 20px;

    width: auto;

    text-align: center;

    font-size: 14px;
    padding: 15px 18px;
  }
}

                           /* RESPONSIVE SECTION */
                           
.menu-btn {
  display: none;
}

.sidebar-overlay {
  display: none;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    position: fixed;
    top: 18px;
    left: 18px;
    z-index: 2000;
    background: #ff4d00;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 14px;
    font-size: 24px;
    cursor: pointer;
  }

  .sidebar {
    width: 260px;
    transform: translateX(-100%);
    transition: all 0.35s ease;
    z-index: 1500;
  }

  .sidebar.sidebar-open {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .hero-section {
    min-height: 100vh;
    padding: 360px 25px 60px;
    background-size: 170% !important;
    background-position: calc(100% + 160px) top !important;
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .hero-content h1,
  .about-content h2,
  .plans-heading,
  .trainers-heading,
  .gallery-heading,
  .contact-heading {
    font-size: 36px;
    text-align: center;
  }

  .section-tag,
  .plans-subtitle,
  .trainers-subtitle,
  .gallery-subtitle,
  .contact-subtitle,
  .hero-description,
  .about-content p {
    text-align: center;
  }

  .about-section,
  .contact-container {
    flex-direction: column;
  }

  .about-section,
  .plans-section,
  .trainers-section,
  .gallery-section,
  .contact-section {
    padding: 80px 25px;
  }

  .about-image,
  .about-content,
  .contact-info,
  .contact-form {
    width: 100%;
  }

  .about-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 24px;
  }

  .about-features {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .plans-container,
  .trainers-container {
    flex-direction: column;
    align-items: center;
  }

  .plan-card,
  .trainer-card {
    width: 100%;
    max-width: 340px;
  }

  @media (max-width: 768px) {
  .plans-container {
    grid-template-columns: 1fr;
  }
}

  .gallery-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 240px;
  }

  .gallery-item.large,
  .gallery-item.wide {
    grid-column: span 1;
    grid-row: span 1;
  }

  .contact-container {
    gap: 30px;
  }

  .social-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer {
    padding: 50px 25px 30px;
  }

                           /* CONTACT FORM POP-UP */

  @media (max-width: 768px) {
    .success-popup {
      top: 80px;
      left: 20px;
      right: 20px;
      text-align: center;
    }
  }
}
  
                            /* CONTACT FORM POP-UP END */

                            /* BACK TO TOP SECTIION */

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 3000;

  width: 48px;
  height: 48px;

  border: none;
  border-radius: 50%;

  background: #ff4d00;
  color: white;

  font-size: 24px;
  font-weight: bold;

  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);

  transition: all 0.3s ease;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.back-to-top:hover {
  background: white;
  color: #ff4d00;
  box-shadow: 0 15px 35px rgba(255, 77, 0, 0.3);
}

                          /* BACK TO TOP END */

                          /* LOADING SCREEN CSS */

.loader-screen {
  height: 100vh;
  background: #050505;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader-logo {
  color: #ff4d00;
  font-size: 46px;
  font-weight: 800;
  letter-spacing: 3px;
}

.loader-screen p {
  color: #b5b5b5;
  letter-spacing: 4px;
  margin-top: 12px;
}

.loader-line {
  width: 180px;
  height: 4px;
  background: #222;
  border-radius: 20px;
  margin-top: 30px;
  overflow: hidden;
}

.loader-line::after {
  content: "";
  display: block;
  width: 60%;
  height: 100%;
  background: #ff4d00;
  animation: loadingMove 1.2s infinite;
}

@keyframes loadingMove {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(180%);
  }
}

                       /* END OF LOADING SCREEN CSS */

                             /* GELLERY LIGHTBOX */

.gallery-item {
  cursor: pointer;
}

.lightbox {
  position: fixed;
  inset: 0;
  z-index: 99999;

  background: rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px;
}

.lightbox img {
  max-width: 90%;
  max-height: 85vh;
  border-radius: 20px;
  border: 1px solid #ff4d00;
}

.lightbox-close {
  position: fixed;
  top: 25px;
  right: 35px;

  background: #ff4d00;
  color: white;

  border: none;
  border-radius: 50%;

  width: 45px;
  height: 45px;

  font-size: 30px;
  cursor: pointer;
}

                        /* END OF GELLERY LIGHTBOX */

                        /* NAVBAR LOGO ANIMATION */

.brand img {
  animation: floatLogo 3s ease-in-out infinite;
  transition: all 0.3s ease;
}

.brand img:hover {
  box-shadow: 0 0 25px rgba(255, 77, 0, 0.5);
}

@keyframes floatLogo {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

                          /* END OF NAVBAR LOGO ANIMATION */

                               /* GOOGLE MAP */

.map-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  padding: 16px;

  background: #181818;
  color: #ffffff;

  border: 1px solid #2a2a2a;
  border-radius: 18px;

  text-decoration: none;
  font-weight: 600;

  transition: all 0.3s ease;
}

.map-btn:hover {
  background: #ff4d00;
  border-color: #ff4d00;

  transform: translateY(-3px);
}

                                 /* END OF GOOGLE MAP */



                          /* POLISING */

@media (max-width: 768px) {
  .hero-overlay {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.20) 38%,
      rgba(0, 0, 0, 0.65) 70%,
      rgba(0, 0, 0, 0.92) 100%
    );
  }

  .hero-buttons {
    justify-content: center;
    gap: 14px;
    flex-wrap: nowrap;
  }

  .primary-btn,
  .secondary-btn {
    min-width: 120px;
    padding: 13px 20px;
    font-size: 14px;
    text-align: center;
  }

  .hero-stats {
    max-width: 320px;
    width: 100%;
    margin: 40px auto 0;
    padding: 24px 18px;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
  }

  .stat-box {
    min-width: auto;
    text-align: center;
  }

  .stat-box h3 {
    font-size: 28px;
  }

  .stat-box p {
    font-size: 12px;
    line-height: 1.4;
  }

  .about-image img {
    height: 220px;
  }

  .about-section {
    gap: 30px;
  }

  .sidebar-overlay {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    z-index: 1400;
  }

  .sidebar {
    z-index: 1500;
  }

  .menu-btn {
    z-index: 2000;
  }

                    /* SIDE BAR SYMBOL MOVE */

  @media (max-width: 768px) {
  .menu-btn {
    left: 18px;
    right: auto;
    z-index: 2500;
  }

  .sidebar {
      left: 0;
      top: 0;
      padding-top: 90px; /* gives space for menu button */
    }

    .brand {
      margin-top: 10px;
    }
  }

}

                     /* BACK TO TOP MOB SECTION */

  @media (max-width: 768px) {
    .back-to-top {
      right: 20px;
      bottom: 20px;
      width: 44px;
      height: 44px;
      font-size: 22px;
    }
  }

                       /* END OF BACK TO TOP MOB SECTION */

                            /* ADMIN DASHBOARD MOB SECTION */

@media (max-width: 768px) {
  .admin-dashboard-header {
    align-items: stretch;
    gap: 22px;
    margin-bottom: 28px;
  }

  .admin-header-actions {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;
    align-items: center;
  }

  .admin-search-box {
    width: 100%;
    height: 48px;
    border-radius: 16px;
  }

  .admin-search-box input {
    font-size: 14px;
  }

  .admin-header-actions button {
    width: auto;
    min-width: 95px;
    height: 48px;
    padding: 0 18px;
    border-radius: 16px;
  }
}

@media (max-width: 768px) {
  .admin-table-wrapper {
    padding: 0;
    background: transparent;
    border: none;
    overflow: visible;
  }

  .admin-table {
    min-width: unset;
  }

  .admin-table thead {
    display: none;
  }

  .admin-table,
  .admin-table tbody,
  .admin-table tr,
  .admin-table td {
    display: block;
    width: 100%;
  }

  .admin-table tr {
    background: #181818;
    border: 1px solid #2a2a2a;
    border-radius: 18px;
    padding: 16px;
    margin-bottom: 18px;
  }

  .admin-table td {
    border-bottom: none;
    padding: 8px 0;
  }

  .admin-table td::before {
    content: attr(data-label);
    display: block;
    color: #ff4d00;
    font-weight: 700;
    margin-bottom: 4px;
  }

  .admin-table td[data-label="Action"]::before {
    display: none;
  }

}

                        /* END OF ADMIN DASHBOARD MOB SECTION */

                              /* DASHBOARD DELETE ENQUIRY */

.delete-btn {
  padding: 9px 16px;
  border: none;
  border-radius: 20px;
  background: #ff2e2e;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-btn:hover {
  background: white;
  color: #ff2e2e;
}

                            /* END OF DASHBOARD DELETE ENQUIRY */

                               /* ADMIN DASHBOARD BEFORE DEL NOTIFY */

.delete-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.delete-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.delete-modal {
  width: 100%;
  max-width: 420px;
  background: #181818;
  border: 1px solid rgba(255, 77, 0, 0.35);
  border-radius: 24px;
  padding: 30px;
  text-align: center;
  color: white;
  box-shadow: 0 25px 60px rgba(255, 77, 0, 0.18);
}

.delete-modal h2 {
  color: #ff4d00;
  margin-bottom: 10px;
}

.delete-modal p {
  color: #b5b5b5;
  margin-bottom: 25px;
}

.delete-modal-actions {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.cancel-delete,
.confirm-delete {
  padding: 12px 22px;
  border: none;
  border-radius: 25px;
  font-weight: 700;
  cursor: pointer;
}

.cancel-delete {
  background: #2a2a2a;
  color: white;
}

.confirm-delete {
  background: #ff2e2e;
  color: white;

  display: flex;
  align-items: center;
  gap: 8px;
}

.confirm-delete:hover {
  background: white;
  color: #ff2e2e;
}

                            /* END OF ADMIN DASHBOARD DEL before NOTIFY */

                             /* ADMIN DASHBOARD DEL AFTER NOTIFY */

.admin-toast {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 999999;

  background: #181818;
  color: white;

  border: 1px solid #ff4d00;
  border-left: 5px solid #ff4d00;

  padding: 16px 22px;
  border-radius: 14px;

  box-shadow: 0 15px 40px rgba(255, 77, 0, 0.25);

  font-weight: 600;
  animation: adminToastSlide 0.4s ease;
}

@keyframes adminToastSlide {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .admin-toast {
    top: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
  }
}

                               /* END OF ADMIN DASHBOARD DEL AFTER NOTIFY */

                                /* ADMIN DASHBOARD STATS CARD */

.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 35px;
}

.stats-card {
  background: #181818;
  border: 1px solid #2a2a2a;
  border-radius: 22px;
  padding: 25px;
  transition: 0.3s;
}

.stats-card:hover {
  border-color: #ff4d00;
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(255,77,0,0.12);
}

.stats-card h3 {
  color: #b5b5b5;
  margin-bottom: 12px;
}

.stats-card h2 {
  color: #ff4d00;
  font-size: 40px;
}

@media(max-width:768px){
  .stats-container {
    grid-template-columns: repeat(2,1fr);
  }

  .stats-card {
    padding: 20px;
  }

  .stats-card h2 {
    font-size: 32px;
  }
}

                                    /* END OF ADMIN DASHBOARD STATS CARD */

                                      /* ADMIN DASHBOARD SEARCH */

.admin-header-actions {
  display: flex;
  align-items: center;
  gap: 18px;
}


.admin-search-box {
  width: 280px;

  display: flex;
  align-items: center;
  gap: 10px;

  background: #181818;
  border: 1px solid #2a2a2a;

  padding: 0 15px;

  border-radius: 30px;

  transition: 0.3s;
}


.admin-search-box input {

  width: 100%;

  background: transparent;

  border: none;
  outline: none;

  color: white;

  padding: 14px 0;

}


.admin-search-box:focus-within {
  border-color: #ff4d00;
  box-shadow: 0 0 20px rgba(255,77,0,0.15);
}

                                   /* END OF ADMIN DASHBOARD SEARCH */

                                   /* ADMIN DASHBOARD SEARCH/LOGO */
.admin-title {
  display: flex;
  align-items: center;
  gap: 18px;
}


.admin-logo {
  width: 70px;
  height: 70px;

  object-fit: cover;
  border-radius: 50%;

  background: white;

  box-shadow: 0 0 25px rgba(255,77,0,0.25);
}

.admin-title {
  display: flex;
  align-items: center;
  gap: 18px;
}


.admin-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  background: white;
}


.admin-brand-text h1 {
  color: #ff4d00;
  font-size: 38px;
  line-height: 0.9;
  font-weight: 900;
}


.admin-brand-text h1 span {
  display: block;
  font-size: 45px;
}


.admin-brand-text h4 {
  color: white;
  letter-spacing: 4px;
  font-size: 14px;
  margin-top: 8px;
}


                                    /* END OF ADMIN DASHBOARD SEARCH/LOGO */

                                    /* MOB ADMIN DASHBOARD SEARCH/LOGO */


@media(max-width:768px){

.admin-title {
  gap: 12px;
}


.admin-logo {
  width: 55px;
  height: 55px;
}


.admin-title h1 {
  font-size: 28px;
}


.admin-title p {
  font-size: 14px;
}

}

.admin-logo {
  width: 60px;
  height: 60px;
}


.admin-brand-text h1 {
  font-size: 28px;
}


.admin-brand-text h1 span {
  font-size: 34px;
}


.admin-brand-text h4 {
  font-size: 12px;
}

                                 /* END OF MOB ADMIN DASHBOARD SEARCH */

                                     /* EMPTY ADMIN DASHBOARD */

.empty-state {
  background: #181818;
  border: 1px solid #2a2a2a;
  border-radius: 24px;
  padding: 50px 25px;
  text-align: center;
  color: white;
}

.empty-icon {
  font-size: 48px;
  margin-bottom: 15px;
}

.empty-state h2 {
  color: #ff4d00;
  margin-bottom: 10px;
}

.empty-state p {
  color: #b5b5b5;
  max-width: 420px;
  margin: 0 auto;
  line-height: 1.6;
}

                                   /* END EMPTY ADMIN DASHBOARD */

                                      /* LOGIN PAGE  */

.admin-login-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;

  margin-bottom: 35px;
}


.admin-login-logo {
  width: 75px;
  height: 75px;

  border-radius: 50%;
  object-fit: cover;

  background: white;
}


.admin-login-text {
  text-align: left;
}


.admin-login-text h1 {
  color: #ff4d00;
  font-size: 36px;
  line-height: 0.9;
  font-weight: 900;
}


.admin-login-text h1 span {
  display: block;
  font-size: 42px;
}


.admin-login-text h4 {
  color: white;
  letter-spacing: 3px;
  font-size: 13px;
  margin-top: 8px;
}


                                        /* END OF LOGIN PAGE */

                                         /* MOB LOGIN PAGE */

@media(max-width:768px){

.admin-login-logo {
  width: 60px;
  height: 60px;
}


.admin-login-text h1 {
  font-size: 28px;
}


.admin-login-text h1 span {
  font-size: 34px;
}


.admin-login-text h4 {
  font-size: 11px;
}


}

                                      /* END OF MOB LOGIN PAGE */

.forgot-link {
  background: none;
  border: none;
  color: #ff4d00;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 18px;
}

.forgot-link:hover {
  text-decoration: underline;
}

.back-login-btn {
  width: 100%;
  margin-top: 14px;
  padding: 14px;
  border-radius: 30px;
  border: 1px solid #333;
  background: transparent;
  color: #b5b5b5;
  font-weight: 700;
  cursor: pointer;
}

.back-login-btn:hover {
  border-color: #ff4d00;
  color: #ff4d00;
}

.admin-success {
  background: rgba(0, 180, 80, 0.12);
  border: 1px solid rgba(0, 180, 80, 0.35);
  color: #9cffc0;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 20px;
}

                            /* gallery img section */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.gallery-item {
  height: 280px;
  overflow: hidden;
  border-radius: 20px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.08);
}

                                    /* mob start gallery */

@media (max-width: 768px) {

  .gallery-grid {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .gallery-item {
    width: 100%;
    height: 260px;
    border-radius: 18px;
    overflow: hidden;
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

}

                                            /* END */
                            


                      

